@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;

    overflow: hidden;
    background-color: white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clock{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0px 15px 15px rgba(0, 0, 0, 0.05),
                inset 0 15px 15px rgba(0, 0,0, 0.05);
    position: relative;
}

.clock .number{
    --rotation: 0;
    font-family: sans-serif;
    position: absolute;
    font-size: 3rem;
    color: #E9ECEF;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.clock .number1{
    margin-top: -8.25px;
}

.clock .number2{
    margin-left: 7px;
}

.clock .number3{
    margin-top: 9px;
}

.clock .number4{
    margin-left: -7px;
}


.clock .number1 { --rotation: 0deg; }
.clock .number2 { --rotation: 90deg; }
.clock .number3 { --rotation: 180deg; }
.clock .number4 { --rotation: 270deg; }

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid white;

}

.clock .hand.second{
    width: 3.5px;
    height: 45%;
    background-color: red;
}

.clock .hand.minute{
    width: 7px;
    height: 40%;
    background-color: black;
}


.clock .hand.hour{
    width: 12px;
    height: 30%;
    background-color: black;
}
